{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
  <div id="sidebar" align="center">
        <h3>Categories</h3>
        <ul >
            <li class="list-group-item" {% if not category %}class="selected"{% endif %}>
                <a href="{% url "products:index" %}">All</a>
            </li>
            {% for c in object_list %}
                <li class="list-group-item" {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{% url "products:category_index" c.slug%}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
  </div>
{% endblock %}